---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: cfserviceofferings.korifi.cloudfoundry.org
spec:
  group: korifi.cloudfoundry.org
  names:
    kind: CFServiceOffering
    listKind: CFServiceOfferingList
    plural: cfserviceofferings
    singular: cfserviceoffering
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.labels.korifi\.cloudfoundry\.org/created_at
      name: Created At
      type: string
    - jsonPath: .metadata.labels.korifi\.cloudfoundry\.org/updated_at
      name: Updated At
      type: string
    - jsonPath: .spec.name
      name: Display Name
      type: string
    - jsonPath: .spec.description
      name: Description
      type: string
    - jsonPath: .spec.available
      name: Available
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CFServiceOffering is the Schema for the cfserviceofferings API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CFServiceOfferingSpec defines the desired state of CFServiceOffering
            properties:
              brokerCatalog:
                properties:
                  features:
                    properties:
                      allowContextUpdates:
                        type: boolean
                      bindable:
                        type: boolean
                      bindingsRetrievable:
                        type: boolean
                      instancesRetrievable:
                        type: boolean
                      planUpdateable:
                        type: boolean
                    required:
                    - allowContextUpdates
                    - bindable
                    - bindingsRetrievable
                    - instancesRetrievable
                    - planUpdateable
                    type: object
                  id:
                    type: string
                  metadata:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                required:
                - features
                - id
                type: object
              description:
                type: string
              documentationUrl:
                type: string
              name:
                type: string
              requires:
                items:
                  type: string
                type: array
              tags:
                items:
                  type: string
                type: array
            required:
            - brokerCatalog
            - description
            - name
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
