version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "cron"
    cronjob: "* 10-22 * * MON-FRI"
  groups:
    gomod:
      patterns:
        - "*"

- package-ecosystem: "docker"
  directory: "/api"
  schedule:
    interval: "cron"
    cronjob: "* 10-22 * * MON-FRI"

- package-ecosystem: "docker"
  directory: "/controllers"
  schedule:
    interval: "cron"
    cronjob: "* 10-22 * * MON-FRI"

- package-ecosystem: "docker"
  directory: "/job-task-runner"
  schedule:
    interval: "cron"
    cronjob: "* 10-22 * * MON-FRI"

- package-ecosystem: "docker"
  directory: "/kpack-image-builder"
  schedule:
    interval: "cron"
    cronjob: "* 10-22 * * MON-FRI"

- package-ecosystem: "docker"
  directory: "/statefulset-runner"
  schedule:
    interval: "cron"
    cronjob: "* 10-22 * * MON-FRI"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "cron"
    cronjob: "* 10-22 * * MON-FRI"
