version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"

- package-ecosystem: "docker"
  directory: "/api"
  schedule:
    interval: "daily"

- package-ecosystem: "docker"
  directory: "/api/remote-debug"
  schedule:
    interval: "daily"

- package-ecosystem: "docker"
  directory: "/controllers"
  schedule:
    interval: "daily"

- package-ecosystem: "docker"
  directory: "/controllers/remote-debug"
  schedule:
    interval: "daily"

- package-ecosystem: "docker"
  directory: "/job-task-runner"
  schedule:
    interval: "daily"

- package-ecosystem: "docker"
  directory: "/kpack-image-builder"
  schedule:
    interval: "daily"

- package-ecosystem: "docker"
  directory: "/statefulset-runner"
  schedule:
    interval: "daily"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
