---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: korifi-statefulset-runner-mutating-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: '{{ .Release.Namespace }}/{{ .Values.controllers.webhookCertSecret }}'
webhooks:
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-appworkload
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mappworkload.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
        resources:
          - appworkloads
    sideEffects: None
