{{- if .Values.generateInternalCertificates }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Values.kpackImageBuilder.webhookCertSecret }}
  namespace: {{ .Release.Namespace }}
spec:
  dnsNames:
  - korifi-kpack-image-builder-webhook-service.{{ .Release.Namespace }}.svc
  - korifi-kpack-image-builder-webhook-service.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    kind: Issuer
    name: selfsigned-issuer
  secretName: {{ .Values.kpackImageBuilder.webhookCertSecret }}
{{- end}}
