# The CF Organization Manager Role
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: organization-manager
rules:
- apiGroups:
  - korifi.cloudfoundry.org
  resources:
  - cforgs
  verbs:
  - get
  - list
  - watch

- apiGroups:
    - korifi.cloudfoundry.org
  resources:
    - builderinfos
  verbs:
    - get
    - list
    - watch
