global:
  rootNamespace: cf
  debug: false
  logLevel: info
  defaultAppDomainName:
  generateIngressCertificates: false
  containerRegistrySecrets:
  - image-registry-credentials
  eksContainerRegistryRoleARN: ""
  containerRegistryCACertSecret:

  reconcilers:
    build: kpack-image-builder
    run: statefulset-runner

adminUserName:

api:
  include: true
  expose: true

  image: cloudfoundry/korifi-api:latest

  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 1000m
      memory: 1Gi

  apiServer:
    url: ""
    # To override default port, set port to a non-zero value
    port: 0
    internalPort: 9000
    timeouts:
      read: 900
      write: 900
      idle: 900
      readHeader: 10

  lifecycle:
    type: buildpack
    stack: cflinuxfs3
    stagingRequirements:
      memoryMB: 0
      diskMB: 0
      buildCacheMB: 2048

  builderName: kpack-image-builder
  userCertificateExpirationWarningDuration: 168h

  authProxy:
    host: ""
    caCert: ""

controllers:
  image: cloudfoundry/korifi-controllers:latest

  replicas: 1
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 50m
      memory: 100Mi

  processDefaults:
    memoryMB: 1024
    diskQuotaMB: 1024
  taskTTL: 30d
  workloadsTLSSecret: korifi-workloads-ingress-cert

  namespaceLabels: {}
  extraVCAPApplicationValues: {}
  maxRetainedPackagesPerApp: 5
  maxRetainedBuildsPerApp: 5

kpackImageBuilder:
  include: true
  replicas: 1
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 50m
      memory: 100Mi

  clusterBuilderName: ""
  builderReadinessTimeout: 30s
  clusterStackID: io.buildpacks.stacks.jammy
  clusterStackBuildImage: paketobuildpacks/build-jammy-full
  clusterStackRunImage: paketobuildpacks/run-jammy-full
  builderRepository: ""

statefulsetRunner:
  include: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

jobTaskRunner:
  include: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

  jobTTL: 24h

contourRouter:
  include: true

helm:
  hooksImage: alpine/k8s:1.25.2
