apiVersion: v1
kind: ConfigMap
metadata:
  name: korifi-controllers-config
  namespace: {{ .Release.Namespace }}
data:
  components_config.yaml: |-
    includeKpackImageBuilder: {{ .Values.kpackImageBuilder.include }}
    includeJobTaskRunner: {{ .Values.jobTaskRunner.include }}
    includeStatefulsetRunner: {{ .Values.statefulsetRunner.include }}
  korifi_controllers_config.yaml: |-
    builderName: {{ .Values.controllers.reconcilers.build }}
    runnerName: {{ .Values.controllers.reconcilers.app }}
    cfProcessDefaults:
      memoryMB: {{ .Values.controllers.processDefaults.memoryMB }}
      diskQuotaMB: {{ .Values.controllers.processDefaults.diskQuotaMB }}
    cfRootNamespace: {{ .Values.global.rootNamespace }}
    {{- if not .Values.global.eksContainerRegistryRoleARN }}
    containerRegistrySecretName: {{ .Values.global.containerRegistrySecret | quote }}
    {{- end }}
    taskTTL: {{ .Values.controllers.taskTTL }}
    workloads_tls_secret_name: {{ .Values.controllers.workloadsTLSSecret }}
    workloads_tls_secret_namespace: {{ .Release.Namespace }}
    namespaceLabels:
    {{- range $key, $value := .Values.controllers.namespaceLabels }}
      {{ $key }}: {{ $value }}
    {{- end }}
{{- if .Values.kpackImageBuilder.include }}
  kpack_build_controllers_config.yaml: |
    cfRootNamespace: {{ .Values.global.rootNamespace }}
    clusterBuilderName: {{ .Values.kpackImageBuilder.clusterBuilderName | default "cf-kpack-cluster-builder" }}
    containerRepositoryPrefix: {{ .Values.global.containerRepositoryPrefix | quote }}
    builderServiceAccount: kpack-service-account
    {{- if .Values.global.eksContainerRegistryRoleARN }}
    containerRegistryType: "ECR"
    {{- end }}
{{- end }}
{{- if .Values.jobTaskRunner.include }}
  job_task_runner_config.yaml: |
    jobTTL: {{ required "jobTTL is required" .Values.jobTaskRunner.jobTTL }}
{{- end }}
