---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: korifi-controllers-mutating-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: '{{ .Release.Namespace }}/{{ .Values.controllers.webhookCertSecret }}'
webhooks:
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-cfapp
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcfapp.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cfapps
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-cfprocess
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcfprocess.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cfprocesses
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-controllers-common-labels
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcfcommonlabels.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cfapps
          - cfbuilds
          - cfdomains
          - cforgs
          - cfpackages
          - cfprocesses
          - cfroutes
          - cfsecuritygroups
          - cfservicebindings
          - cfservicebrokers
          - cfserviceinstances
          - cfserviceofferings
          - cfserviceplans
          - cfspaces
          - cftasks
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-controllers-finalizer
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcffinalizer.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
        resources:
          - cfapps
          - cfspaces
          - cfpackages
          - cforgs
          - cfroutes
          - cfdomains
          - cfservicebindings
          - cfserviceinstances
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-controllers-label-indexer
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcflabelindexer.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cfroutes
          - cfapps
          - cfbuilds
          - cfdomains
          - cfpackages
          - cfprocesses
          - cfservicebindings
          - cfserviceinstances
          - cftasks
          - cforgs
          - cfspaces
          - cfserviceofferings
          - cfserviceplans
          - cfservicebrokers
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-route-appdestinations
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcfrouteappdestinations.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cfroutes
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-all-version
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcfversion.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cforgs
          - cfspaces
          - builderinfos
          - cfdomains
          - cfserviceinstances
          - cfapps
          - cfpackages
          - cftasks
          - cfprocesses
          - cfbuilds
          - cfroutes
          - cfservicebindings
          - taskworkloads
          - appworkloads
          - buildworkloads
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-cfapp-apprev
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcfapprev.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - UPDATE
        resources:
          - cfapps
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /mutate-korifi-cloudfoundry-org-v1alpha1-cftask
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: mcftask.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cftasks/status
    sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: korifi-controllers-validating-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: '{{ .Release.Namespace }}/{{ .Values.controllers.webhookCertSecret }}'
webhooks:
  - admissionReviewVersions:
      - v1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfdomain
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfdomain.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cfdomains
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfroute
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfroute.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - cfroutes
    sideEffects: NoneOnDryRun
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfsecuritygroup
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfsecuritygroup.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - cfsecuritygroups
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfservicebinding
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfservicebinding.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - cfservicebindings
    sideEffects: NoneOnDryRun
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfservicebroker
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfservicebroker.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - cfservicebrokers
    sideEffects: NoneOnDryRun
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfserviceinstance
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfserviceinstance.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - cfserviceinstances
    sideEffects: NoneOnDryRun
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfapp
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfapp.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - cfapps
    sideEffects: NoneOnDryRun
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cforg
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcforg.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - cforgs
    sideEffects: NoneOnDryRun
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfpackage
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfpackage.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - UPDATE
        resources:
          - cfpackages
    sideEffects: None
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cfspace
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcfspace.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - cfspaces
    sideEffects: NoneOnDryRun
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: korifi-controllers-webhook-service
        namespace: '{{ .Release.Namespace }}'
        path: /validate-korifi-cloudfoundry-org-v1alpha1-cftask
      caBundle: '{{ include "korifi.webhookCaBundle" . }}'
    failurePolicy: Fail
    name: vcftask.korifi.cloudfoundry.org
    rules:
      - apiGroups:
          - korifi.cloudfoundry.org
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cftasks
          - cftasks/status
    sideEffects: None
