name: Adds all new issues to the Icebox column in our backlog project

on:
  issues:
    types:
      - opened

jobs:
  add-to-icebox:
    name: Add issue to icebox
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.4.1
        with:
          project-url: https://github.com/orgs/cloudfoundry/projects/35
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
